.audio-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    bottom: 0;
    
}

.audio-lofi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.audio-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.play-previous, .pause-play, .play-next{
    cursor: pointer;
    font-size: 2rem;
}