.container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 90vh;

}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card{
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: cyan;
    width: 400px;
    height: 80vh;
    border-radius: 20px;
}

.timer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    margin-bottom: 10px;
}

.timer-buttons{
    display: flex;
    gap: 20px;
  
}

.start-time, .reset{
    cursor: pointer;
}

.timer-format{
    position: relative; 
    margin: 20px;
}

.number-of-task-container{
    animation: pop-up 1s ease-in-out;
    padding: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-container{
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
}

.task-input{
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid black;
}

.number-of-task{
    opacity: 0;
    animation: pop-up 1s ease-in-out;
    margin-bottom: 3px;
    font-weight: bolder;
}

.show{
    opacity: 1;
}

.enter-task{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter-task button{
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.delete-all, .uncomplete-all{
    position: relative;
    animation: show 1s ease-in-out;
    opacity: 0;
}

.trash-can, .trash-undo{
    cursor: pointer;
}


.ul-task{
    position: relative;
    top: 0;
    width: 100%;
    height: 250px;
    overflow-y: auto;
    list-style: circle;
    background-color: cyan;
}

.list-task{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    background-color: blue;
    color: white;
}   

.task-text-container{
    padding: 10px;
    flex-grow: 1;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-align: center;
    animation: pop-up 1s ease-in-out;
}

.task-text{
    display: inline-block;
    max-width: calc(100% - 70px);
    color: white;
    font-weight: 600;
}

.delete-task{
    font-size: 1.2rem;
}

.done{
    text-decoration: line-through;
    background-color: black;
    transition: all 1s ease-in-out;
}

.list-task.done .task-text{
    text-decoration: line-through;
}








@keyframes show {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


.show-button{
    opacity: 1;
    transition: pop-up 1s ease-in-out;
}


.no-task{
    opacity: 0;
    animation: pop-up 1s ease-in-out;
}

.no-task.visible{
    opacity: 1;
}

.number-of-completed{
    opacity: 0;
    animation: pop-up 1s ease-in-out;
}

.visible{
    opacity: 1;
}

.humberger{
    position: fixed;
    left: 0;
    margin-left: 20px;
    z-index: 20;
    display: block;
    cursor: pointer;
    
}

.bar{
    display: block;
    position: relative;
    margin: 5px auto;
    width: 30px;
    height: 5px;
    background-color: red;
    transition: all 0.3s ease;
}


.humberger.active .bar:nth-child(2){
    opacity: 0;
}

.humberger.active .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}
.humberger.active .bar:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}



.overview{
    position: absolute;
    left: -100%;
    width: 450px;
    height: 100%;
    top: 0;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.completed-task{
    display: flex;
    flex-direction: column;
    animation: pop-up 1s ease-in-out
}
.ul-completed{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 350px;
    overflow-y: auto;
    list-style-type: circle;
    text-align: center;
    
}

.task-time{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    overflow: hidden;
    text-align: center;
    
}

.completed-text-container{
    padding: 10px;
    flex-grow: 1;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-align: center;
    animation: pop-up 1s ease-in-out;
    font-weight: bolder;
}

.overview.active{
    left: 0;
    transition: all 0.5s ease;    
   
}

.overview.inactive{
    left: -100%;
    transition: all 2s ease;
}

.task-time{
    animation: pop-up 1s ease-in-out;
}

@keyframes pop-up{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.pop-up{
    opacity: 1;
    transform: pop-up 1s ease-in-out;
}



li{
    cursor: pointer;
}



@media (max-width: 767px){
    .card{
        width: 280px;
        
    }

    .Title{
        font-size: 1.6rem;
    }

    .humberger{
        z-index: 9999999999999;
    }
    
    .overview{
        width: 300px;
        z-index: 1000;
    }

    .timer-container{
        height: 120px;
        margin-bottom: 0;
    }

    .task-container{
        position: relative;
        width: 100%; 
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .task-input{
        width: 180px;
    }

    .ul-task{
        height: 220px;
        align-items: center;
        justify-content: center;
        
    }
    .list-task{
        align-self: center;
        padding: 0;
    }
}